h1{
	margin-left: 20px;
	font-size: 24px;
	margin-bottom: 20px;
}

p{
	margin-left: 20px;
}

input {
	background-color: #fff;
	font-size: 20px;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #a0522d;
	border: solid 2px #a0522d;
	border-radius: 4px;
	transition: .4s;
}

input:hover {
	background: #a0522d;
	color: white;
}